<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Persona3{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>Menú de navegación</nav>

    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/personas">Personas</a>
            <a href="/Tartaro">El tartaro</a>
            
        </nav>
    
    
        <H1>Persona 3 Reload</H1>
    <img  class="logo" src="/static/image.png" alt="p3">
    </header>
    {% block content %}{% endblock %}

    <footer>Pie de página</footer>
</body>
</html>
