<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Persona3{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    {% block menu %}

        <nav>
            <a href="/">Inicio</a>
            <a href="/personas">Personas</a>
            <a href="/Tartaro">El tartaro</a>
            
        </nav>
    
    
    <H1>Persona 3 Reload</H1>
    <img  class="logo" src="../static/image.png" alt="p3">

    {% endblock %}

    <p>Persona es una saga de juegos creados por la empresa japonesa llamada Atlus</p>

    <div class="card">
        <h2>¿De qué trata?</h2>
        <h3>La saga no tiene una historia clara. Pero en todas sus entregas hacen presencia unos seres llamados persona</h3>
    </div>
</body>

</html>