{% extends "base.html"%}

{% block titulo %}Inicio{% endblock %}

{% block content %}
    
<p>Persona es una saga de juegos creados por la empresa japonesa llamada Atlus</p>

<div class="card">
    <h2>¿De qué trata?</h2>
    <h3>La saga Persona mezcla vida estudiantil, relaciones sociales y combates sobrenaturales. Normalmente los protagonistas son jóvenes que despiertan un poder llamado “Persona”, una manifestación de su personalidad, y deben enfrentar problemas psicológicos, emociones humanas y amenazas ocultas mientras equilibran su vida diaria con aventuras en mundos alternos.</h3>
</div>

{% endblock %}

</html>