{% extends "base.html"%}

{% block titulo %}Personas{% endblock %}

           
    {% block content %}
    
    <div class="card">
        <h2>
            ¿Qué son los persona?
        </h2>
    </div>
    <p>En Persona, los “Personas” son manifestaciones del alma, la personalidad y las emociones de una persona. Funcionan como seres o espíritus que les dan poderes a los protagonistas para pelear contra criaturas sobrenaturales.
    Cada Persona suele representar aspectos psicológicos, miedos, deseos o la verdadera identidad de quien lo usa, y muchas están inspiradas en dioses, héroes y figuras mitológicas.</p>

    {% endblock %}
    
    


</html>