{% extends "base.html"%}

{% block titulo %}Tartaro{% endblock %}

        {% block content %}
        
        <h2>En Persona 3, el Tártaro es una enorme torre misteriosa que aparece durante la “Hora Oscura”, un tiempo oculto entre la medianoche y el siguiente día que la mayoría de personas no puede percibir.
        El lugar está lleno de sombras (enemigos) y cambia constantemente de forma. Los protagonistas suben sus pisos para descubrir el origen de la Hora Oscura y enfrentar la amenaza principal de la historia. El nombre viene del Tártaro de la mitología griega, un lugar relacionado con el inframundo.</H1>

        {% endblock %}

        

</html>